body {
  margin: 0px;
  padding: 0px;
  background-color: #303f4c;
  padding: 0px;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  overflow: hidden;
}

:root {
  --bg0: #303f4c;
  --bg1: #405465;
  --bg2: #98a8b6;
  --fg0: white;
  --fg1: #dddddd;
  --fg2: grey;
  --crazy: #cbff00;

  --primary: #3aae49;
  --primary-dark: #319044;
  --primary-darker: #425565;

  --primary-light: #dddddd;
  --primary-lighter: white;

  --secondary: #1d9ad6;
  --secondary-dark: #13688f;
  --secondary-darker: #211e16;

  --secondary-light: #dddddd;
  --secondary-lighter: white;
}
